:root {
    --pr-color: #ecf9ff;
    --sc-color: #1b2976;
    --tr-color: #f8f8ff;
    --text-color: #2c3947c9;
    --font-size: 18px;
    --br-radius: 6px;
}

.label-text {
    font-size: var(--font-size);
    font-weight: 700;
    white-space: nowrap;
}

.error-msg {
    color: #d83b3bca;
    /* text-align: center; */
    margin: 0.25rem 0 0 0.5rem;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-image: url("assets/registration/university.jpg");
    filter: blur(0px);
}

.background-edit {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    top: 0;
    background-image: linear-gradient(120deg, #905de9 0%, #c62feb 100%);
}


#heading {
    z-index: 10;
    text-align: center;
    color: var(--pr-color);
}


#form-box {
    width: 100%;
    flex-direction: column;
    z-index: 10;
    margin-top: 1rem;
}

form {
    border-radius: 1rem;
    width: 80%;
    height: 80%;
    background-color: var(--tr-color);
    color: var(--text-color);
    padding: 1rem;
}


/* Student Name */
#name-heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#student-name-box,
#email-number-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1rem;
    color: var(--text-color);
}

#student-name-box>div {
    width: 300px;
}

#email-number-box>div {
    width: 50%;
}



#student-name-box>div>div,
#email-number-box>div>div,
#dob-box{
    width: 100%;
    height: 3rem;
    background-color: var(--tr-color);
    outline: 2px solid var(--text-color);
    border-radius: var(--br-radius);
    padding: 4px 8px;
    flex-grow: 1;
    justify-content: start;
    position: relative;
}

#student-name-box input,
#email-number-box input,
#dob-box input {
    width: 100%;
    height: 100%;
    background-color: #eaeaff;
}

.deactive-link {
    display: none;
}

.active-box {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.active-input {
    display: block;
    height: 70%;
    outline: none;
    border: none;
}

.active-text {
    font-size: 16px;
    text-align: right;
    transition: all 0.3s ease;
    position: absolute;
    top: -15px;
    background-color: var(--tr-color);
    padding: 4px;
}


/* Student Birth date and Gender */
#dob-gender-box {
    width: 100%;
    margin-top: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

#dob-gender-box>div {
    width: 45%;
}

#dob-box,
#gender-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 40px;
}
.align-start{
    align-self: flex-start;
}

#gender-box {
    width: 45%;
}

#gender-box>div {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* contact */
#contact-heading {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

#email-number-box>div {
    flex-grow: 1;
}


/* About Me */
#about-box {
    margin-top: 1rem;
}



#about-box>div {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 0.25rem;
}

#about-box input {
    width: 0.9rem;
    height: 0.9rem;
}

#about-box textarea {
    resize: none;
    margin-bottom: 0.5rem;
    width: 100%;
}


/* Submit Button */
#submit-cancel-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

#submit,
#cancel {
    width: 100%;
    padding-block: 8px;
    font-size: var(--font-size);
    border-radius: var(--br-radius);
    font-weight: 700;
    transition: all 0.2 ease;
}

#submit {
    background-color: var(--sc-color);
    color: var(--tr-color);
    border: 5px solid var(--sc-color);
}

#cancel {
    background-color: var(--tr-color);
    color: var(--text-color);
    border: 5px solid var(--sc-color);
}

#submit:hover{
    background-color:#101c61;
    color: #dff4fe;
}
#cancel:hover {
    background-color: var(--sc-color);
    color: var(--pr-color);
}


/* Media Queries From Here */
@media (min-width:768px) and (max-width:991px) {
    .background-bottom {
        bottom: -30%;
    }

    #dob-gender-box {
        flex-direction: column;
    }

    #dob-gender-box>div:first-child{
        width: 100%;
    }

}


/* large Mobile */
@media screen and (max-width: 768px) {

    .background-bottom {
        display: hidden;
    }

    #student-name-box,
    #dob-gender-box,
    #email-number-box {
        flex-direction: column;
    }


    #student-name-box>div,
    #email-number-box>div {
        width: 100%;

    }
}


/* Mobile */
@media screen and (max-width:480px) {
    body {
        padding: 0px;
        padding-block: 2rem;
    }

    #student-name-box {
        gap: 0rem;
    }

    #student-name-box p,
    #email-number-box p {
        margin-bottom: 0.40rem;
    }


    #dob-gender-box>div {
        width: 100%;

    }

    #email-number-box {
        gap: 0rem;
    }
}